<app-header-banner2></app-header-banner2>
<div class="plans-container">
  <!-- Plan Starter -->
  <div class="plan-card starter">
      <div class="plan-header">
          <h2>Starter</h2>
          <p class="price">249<sup>DH</sup></p>
          <p class="description">Les bases pour démarrer</p>
      </div>
      <br>
      <button pButton label="Acheter" class="buy-button" (onClick)="selectStarter()"></button>
      <div class="plan-details">
          <p><strong>Durée</strong> <span>1 Mois</span></p>
          <p><strong>Badge</strong> <span>---</span></p>
          <p><strong>Score Profil</strong> <span>+1</span></p>
          <p><strong>Organisme Recruteur</strong> <span>Petits</span></p>
          <p><strong>Suivi des Candidatures</strong> <i class="pi pi-check"></i></p>
          <p><strong>Seulement Stages non rémunérés</strong> <i class="pi pi-check"></i></p>
          <p><strong>Seulement Stages Sur Site</strong> <i class="pi pi-check"></i></p>
          <p><strong>Seulement Stages Académiques</strong> <i class="pi pi-check"></i></p>
      </div>
  </div>

  <!-- Plan Serious -->
  <div class="plan-card serious">
      <div class="plan-header">
          <h2>Serious <p-badge value="Meilleure vente" severity="info" class="best-seller"></p-badge></h2>
          <p class="price">349<sup>DH</sup></p>
          <p class="description">Décrocher des Stages facilement</p>
      </div>
      <br>
      <button pButton label="Acheter" class="buy-button" (onClick)="selectSerious()"></button>
      <div class="plan-details">
          <p><strong>Durée</strong> <span>2 Mois</span></p>
          <p><strong>Badge</strong> <span>Serious</span></p>
          <p><strong>Score Profil</strong> <span>+2</span></p>
          <p><strong>Organisme Recruteur</strong> <span>Petits, Grands</span></p>
          <p><strong>Suivi des Candidatures</strong> <i class="pi pi-check"></i></p>
          <p><strong>Aussi Stages Rémunérés</strong> <i class="pi pi-check"></i></p>
          <p><strong>Aussi Stages à Distance</strong> <i class="pi pi-check"></i></p>
          <p><strong>Aussi Stages de Pré-embauche</strong> <i class="pi pi-check"></i></p>
          <p><strong>Qui a consulté mon profil</strong> <i class="pi pi-check"></i></p>
      </div>
  </div>
</div>
