<div class="dashboard-container">
  <h2>Tableau de bord administrateur</h2>

  <!-- Graphique -->
  <div class="chart-container">
    <h3>Statistiques des utilisateurs</h3>
    <p-chart type="bar" [data]="barChartData" [options]="barChartOptions" class="bar-chart"></p-chart>
  </div>

  <!-- Cartes -->
  <div class="card-grid">
    <p-card header="Nombre de candidatures" class="dashboard-card">
      <p class="card-value">{{ totalCandidatures }}</p>
      <p-button label="Voir les candidatures" icon="pi pi-file" styleClass="p-button-text"></p-button>
    </p-card>

    <p-card header="Nombre d'offres" class="dashboard-card">
      <p class="card-value">{{ totalOffres }}</p>
      <p-button label="Voir les offres" icon="pi pi-file" styleClass="p-button-text" (onClick)="listeOffres()"></p-button>
    </p-card>


  </div>
</div>
