<div class="register-choix-container">
  <div class="header">
      <img src="assets/images/LOGO.png" alt="Stage Finder Logo" class="logo">
  </div>

  <h2>Sélectionnez votre profil</h2>
  <div class="button-group">
      <p-button
          label="Stagiaire"
          styleClass="stagiaire-button"
          (onClick)="selectStagiaire()">
      </p-button>
      <p-button
          label="Entreprise"
          styleClass="entreprise-button"
          (onClick)="selectEntreprise()">
      </p-button>
  </div>
</div>
