<div class="job-listings">
  <div class="search-bar-container">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
  </div>
  <app-add-offre *ngIf="isRecruteur"></app-add-offre>
  <h2>OFFRES DE STAGE</h2>
  <div class="job-card" *ngFor="let offre of offres">
    <div class="job-header">
      <div class="job-details">
        <p class="description">{{ offre.description }}</p>
        <p class="description">Expérience: {{ offre.anneesExperience }}</p>
        <p class="location">
          <i class="pi pi-map-marker"></i> {{ offre.ville }}
        </p>
        <p class="category">Domaine: {{ offre.categorieNom }}</p>
        <p class="skills">Compétences: {{ offre.competenceExigee }}</p>
        <p class="salary">Salaire: {{ offre.salaire + " MAD" }}</p>
      </div>
      <div class="job-meta">
        <p class="publication-date">Publié le {{ offre.datePublication | date:'dd/MM/yyyy' }}</p>
        <p class="expiration-date">Expire le {{ offre.dateExpiration | date:'dd/MM/yyyy' }}</p>
        <p class="published-by">Publié par: {{ offre.publieParNom }}</p>
        <p class="published-by">Nom d'Entreprise: {{ offre.nomEntreprise }}</p>
        <div class="action-buttons">
          <p-button *ngIf="isRecruteur || isAdmin" icon="pi pi-pencil" styleClass="edit-button" (click)="showEditDialog(offre)"></p-button>
          <p-button *ngIf="isRecruteur || isAdmin" icon="pi pi-trash" styleClass="delete-button" (click)="deleteOffre(offre.id)"></p-button>
        </div>
      </div>
    </div>
    <p-button *ngIf="isStagiaire" label="Postuler" styleClass="recruiter-button" (click)="onPostule(offre.id)"></p-button>
  </div>

  <!-- Ajout du Paginator -->
  <p-paginator
    [first]="currentPage * rowsPerPage"
    [rows]="rowsPerPage"
    [totalRecords]="totalRecords"
    (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="[3, 5, 10]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{last}/{totalRecords} offres"
  ></p-paginator>
  <!-- currentPageReportTemplate="Affichage {first} - {last}/{totalRecords} offres" -->
</div>
